# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.temp
*.bak
*.log

# Local testing
.test/
.local/

#Claude
CLAUDE.md
